<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Log in</h1>
    <div mat-dialog-content>

        <form (ngSubmit)="onSubmit(formContact)" [formGroup]="contactForm" #formContact="ngForm">
        <div>
            <mat-form-field appearance="outline" class="full-width mt-8">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" name="email" type="email" placeholder="Email" id="inputEmail" [(ngModel)]="email" matInput placeholder="E-mail">
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="dialogRef.close()">Cancel</button>
            <button mat-button type="submit" [mat-dialog-close]="" cdkFocusInitial>Send password</button>
        </div>
    </form>

    </div>
</div>