<mat-card class="user-detail-header">

    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="editUserDetail()" mat-menu-item>Edit user</button>
        <button (click)="deleteUser(user)" mat-menu-item>Delete user</button>
        <button (click)="ChangePassword(user)" mat-menu-item>Change password</button>
    </mat-menu>

    <img src="./../../assets/img/profile9-modified.png">

    <div class="user-details">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <br>
        Birth date: {{user.birthDate | date : 'yyyy-MM-dd'}}
        <br>
        <div>
            Email: <a class="c-white" href="email: {{user.email}}">{{user.email}}</a>
        </div>
    </div>
</mat-card>

<mat-card class="mt-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="menuAddress">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuAddress="matMenu">
        <button (click)="editUserAddress()" mat-menu-item>Edit</button>
    </mat-menu>

    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{user.street}} <br>
        {{user.zipCode}} {{user.city}}
    </mat-card-content>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header>
        <mat-card-title>
            <h1>Incomes</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let income of incomeTransactions" (click)="openNoteDialog(income)">
                <td>{{income.firstName}} {{income.lastName}}</td>
                <td>{{income.category}}</td>
                <td>{{income.amount}}€</td>
                <td>{{income.creationDate | date : 'yyyy-MM-dd'}}</td>

                <button mat-mini-fab (click)="deleteIncome(income)" class="delete-button pin-right">
                    <mat-icon>delete</mat-icon>
                </button>

            </tr>
        </table>
    </mat-card-content>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header>
        <mat-card-title>
            <h1>Expenses</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let expense of expenseTransactions" (click)="openNoteDialog(expense)">
                <td>{{expense.firstName}} {{expense.lastName}}</td>
                <td>{{expense.category}}</td>
                <td>{{expense.amount}}€</td>
                <td>{{expense.creationDate | date : 'yyyy-MM-dd'}}</td>

                <button mat-mini-fab (click)="deleteExpense(expense)" class="delete-button pin-right">
                    <mat-icon>delete</mat-icon>
                </button>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button *ngIf="user.email == currentUserEmail" (click)="openAddFinanceDialog()" class="add-finance-button" mat-fab
    color="primary" matTooltip="Add finance" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>

<!-- <button *ngIf="user.email == currentUserEmail" (click)="openAddIncomeDialog()" class="add-income-button" mat-fab color="warn" matTooltip="Add income"
    matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button> -->