<div class="headline"><h2 class="c-white">User-detail</h2></div>

<mat-card class="user-detail-header">

    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="menu" *ngIf="(user.email == currentUserEmail) || (currentUserEmail == 'admin@admin.de')">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button (click)="editUserDetail()" mat-menu-item>Edit user</button>
        <button (click)="deleteUser(user)" mat-menu-item>Delete user</button>
        <button (click)="ChangePassword(user)" mat-menu-item>Change password</button>
    </mat-menu>

    <img src="./../../assets/img/profile9-modified.png">

    <div class="user-details">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <br>
        Birth date: {{user.birthDate | date : 'dd-MM-yyyy'}}
        <br>
        <div>
            Email: <a class="c-white" href="mailto: {{user.email}}">{{user.email}}</a>
        </div>
    </div>
</mat-card>

<mat-card class="mt-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="menuAddress" *ngIf="(user.email == currentUserEmail) || (currentUserEmail == 'admin@admin.de')">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuAddress="matMenu">
        <button (click)="editUserAddress()" mat-menu-item>Edit</button>
    </mat-menu>

    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{user.street}} <br>
        {{user.zipCode}} {{user.city}}
    </mat-card-content>
</mat-card>

<div class="button-container">

    <button (click)="openAddFinanceDialog(user.id)" class="add-finance-button" mat-fab
        color="primary" matTooltip="Add finance" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
    </button>
</div>

<mat-card class="mt-32">
    <mat-card-header>
        <mat-card-title>
            <h1>Incomes</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="user-table mt-32">
            <tr>
                <th class="td-creator">Creator</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let income of incomeTransactions$ |async" (click)="openNoteDialog(income)">
                <td class="quater-width td-creator">{{income.firstName}} {{income.lastName}}</td>
                <td class="quater-width">{{income.category}}</td>
                <td class="quater-width">{{income.amount}}€</td>
                <td class="quater-width">{{income.creationDate | date : 'dd-MM-yyyy'}}</td>

                <button mat-mini-fab (click)="deleteIncome(income, $event)" class="delete-button pin-right">
                    <mat-icon>delete</mat-icon>
                </button>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header>
        <mat-card-title>
            <h1>Expenses</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="user-table mt-32">
            <tr>
                <th class="td-creator">Creator</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            <tr *ngFor="let expense of expenseTransactions$ | async" (click)="openNoteDialog(expense)">
                <td class="quater-width td-creator">{{expense.firstName}} {{expense.lastName}}</td>
                <td class="quater-width">{{expense.category}}</td>
                <td class="quater-width">{{expense.amount}}€</td>
                <td class="quater-width">{{expense.creationDate | date : 'dd-MM-yyyy'}}</td>

                <button mat-mini-fab (click)="deleteExpense(expense, $event)" class="delete-button pin-right">
                    <mat-icon>delete</mat-icon>
                </button>
            </tr>
        </table>
    </mat-card-content>
</mat-card>



<!-- <button *ngIf="user.email == currentUserEmail" (click)="openAddFinanceDialog()" class="add-finance-button" mat-fab
    color="primary" matTooltip="Add finance" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button> -->