<mat-card class="p-16">
    <h1>Legal notice</h1>
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>
        Konrad Thiemann <br>
        Kastanienallee 35 <br>
        38104 Braunschweig
    </p>
    <h2>Kontakt</h2>
    <p>
        <a class="c-white" href="tel:+4915167325218">tel:+4915167325218</a> <br>
        <a class="c-white" href="email:email@konrad-thiemann.de">email@konrad-thiemann.de</a><br><br>
        Quelle: <a class="c-white" href="https://www.erecht24.de">https://www.erecht24.de</a>
    </p>
</mat-card>
