<div class="headline">
    <h2 class="c-white">Legal notice</h2>
</div>

<mat-card class="p-16">
    <h2>Angaben gemäß § 5 TMG</h2>
    <p>
        Konrad Thiemann <br>
        Kastanienallee 35 <br>
        38104 Braunschweig
    </p>
    <h2>Kontakt</h2>
    <p>
        <a  href="tel:+4915167325218">tel:+4915167325218</a> <br>
        <a  href="mailto:mail@konrad-thiemann.de">mail@konrad-thiemann.de</a><br><br>
        Quelle: <a  href="https://www.erecht24.de">https://www.erecht24.de</a>
    </p>
</mat-card>