<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Change password</h1>
    <div mat-dialog-content>


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Enter your password</mat-label>
            <input [disabled]="loading" [(ngModel)]="password" matInput [type]="hide ? 'Enter your password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Enter new password</mat-label>
            <input [disabled]="loading" [(ngModel)]="newPassword" matInput [type]="hide ? 'Enter new password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Repeat new password</mat-label>
            <input [disabled]="loading" [(ngModel)]="newPasswordRepeated" matInput [type]="hide ? 'Repeat Password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

            <div mat-dialog-actions>
                <button mat-button (click)="dialogRef.close()">Cancel</button>
                <button mat-button (click)="validateInput()" [mat-dialog-close]="" cdkFocusInitial>Save</button>
            </div>
       
    </div>