mat-card{
    border-radius: 15px !important;

    div{
        border-radius: 15px !important;
    }
    
}

h1{
    border-radius: 0 !important;
}

.mat-dialog-container {
    border-radius: 15px !important;
    overflow: hidden;
  }