<div class="headline">
    <h2 class="c-white">Dashboard</h2>
</div>

<mat-card class="p-16 dashboard-headline">
    <h1>Hello {{name}}</h1>
</mat-card>

<div class="full-width button-container">
    <button (click)="openAddFinanceDialog(id)" class="add-finance-button mt-32" mat-fab color="primary"
        matTooltip="Add finance" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="d-flex gap-32 finance-container">

    <div class="chart-container">

        <mat-card class="mt-32 p-16 year-overview">
            <div id="divChart">
                <h2 class="segment-headline">Year overview</h2>
                <canvas class="mt-32" id="myChart"></canvas>
            </div>
            <div class="year-total-container">
                <div class="total-year-expenses">
                    <p>Total year expenses</p>
                    <h2>{{totalYearExpenses}}€</h2>
                </div>
                <div class="total-year-income">
                    <p>Total year income</p>
                    <h2>{{totalYearIncome}}€</h2>
                </div>
            </div>
        </mat-card>

        <mat-card class="mt-32  p-16 blockchain-currency-chart ">
            <div id="divChartBlockchain">
                <h1 class="segment-headline translate-16">Current crypto values</h1>
                <canvas class="mt-32 c-white max-width" id="myBlockchainChart"></canvas>
            </div>
        </mat-card>

    </div>



    <div class="month-container  gap-32">
        <div class="d-flex gap-32 month-charts-container">
            <mat-card class="mt-32  p-16 chart-pie">
                <div id="divChartPieIncomes">
                    <h2 class="segment-headline">Incomes this month</h2>
                    <canvas class="mt-32" id="myChartPieIncomes"></canvas>
                    <div class="total-expenses">
                        <p>Total incomes</p>
                        <h2 style="color: rgb(98, 207, 98);">{{totalMonthIncomes}}€</h2>
                    </div>
                </div>
            </mat-card>

            <mat-card class="mt-32  p-16 chart-pie">
                <div id="divChartPie">
                    <h2 class="segment-headline">Expenses this month</h2>
                    <canvas class="mt-32" id="myChartPie"></canvas>
                    <div class="total-expenses">
                        <p>Total expenses</p>
                        <h2 style="color: rgb(207, 98, 98);">{{totalMonthExpenses}}€</h2>
                    </div>
                </div>
            </mat-card>
        </div>

        <mat-card class="d-flex mt-32 blockchain-history-box p-16">
            <h1 class="segment-headline translate-16">History</h1>

            <div class="d-flex full-width gap-32 wrap space-evenly">
                <mat-card class="mt-32 single-history p-16">
                    <div id="divChartBlockchainHistoryBitcoin">
                        <canvas class="mt-32 c-white max-width" id="myBlockchainChartHistoryBitcoin"></canvas>
                    </div>
                </mat-card>

                <mat-card class="mt-32 single-history p-16 ">
                    <div id="divChartBlockchainHistoryEthereum">
                        <canvas class="mt-32 c-white max-width" id="myBlockchainChartHistoryEthereum"></canvas>
                    </div>
                </mat-card>

                <mat-card class="mt-32 single-history p-16 ">
                    <div id="divChartBlockchainHistoryTether">
                        <canvas class="mt-32 c-white max-width" id="myBlockchainChartHistoryTether"></canvas>
                    </div>
                </mat-card>

                <mat-card class="mt-32 single-history p-16 ">
                    <div id="divChartBlockchainHistoryBinanceCoin">
                        <canvas class="mt-32 c-white max-width" id="myBlockchainChartHistoryBinanceCoin"></canvas>
                    </div>
                </mat-card>

                <mat-card class="mt-32 single-history p-16 ">
                    <div id="divChartBlockchainHistoryUSDCoin">
                        <canvas class="mt-32 c-white max-width" id="myBlockchainChartHistoryUSDCoin"></canvas>
                    </div>
                </mat-card>

                <mat-card class="mt-32 single-history p-16 ">
                    <div id="divChartBlockchainHistoryXRP">
                        <canvas class="mt-32 c-white max-width" id="myBlockchainChartHistoryXRP"></canvas>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </div>

    <mat-card class="activity-section mt-32 gap-32 p-16">
        <h1 class="segment-headline">Activities</h1>

        <div class="activity-container">

            <div class="birthday-container" style="border-color: #dfdf4a;">
                <mat-icon class="birthday-cake" style="color: #e6e600">cake</mat-icon>
                <h2>Upcoming birthdays</h2>
                <div class="birthday-component">
                    <ng-container *ngFor="let birthday of birthdays$ | async; let i = index">
                        <div class=" full-width d-flex single-birthday "
                            style="border-color: #dfdf4a; background-color: #dfdf4a2d;">
                            <div class="birthday-content">
                                <p>{{birthdays[i][0]}} {{birthdays[i][1]}}</p>
                            </div>
                            <div class="birthday-content">

                                <p>{{birthdays[i][2] | date : 'dd.MM.yy'}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="birthday-container" style="border-color: #4adf4a;">
                <mat-icon class="birthday-cake" style="color: #00e645">payments</mat-icon>
                <h2>Latest added incomes</h2>
                <div class="birthday-component">
                    <ng-container  *ngFor="let income of latestIncome$ | async; let i = index">
                        <div (click)="openIncomeInfoDialog(income)" class=" full-width d-flex single-activity "
                            style="border-color: #4adf4a; background-color: #4adf4a1c;">
                            <div class="birthday-content">
                                <!-- <p>{{income[i][0]['latestAmount']}}€</p> -->
                                <p>{{income[0]['latestAmount']}}€</p>
                            </div>
                            <div class="birthday-content">
                                <p>{{income[0]['latestTimestamp'] | date :'dd.MM.yy'}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="birthday-container" style="border-color: #df4a4a;">
                <mat-icon class="birthday-cake" style="color: #e60000">payments</mat-icon>
                <h2>Latest added expenses</h2>
                <div class="birthday-component">
                    <ng-container *ngFor="let expense of latestExpense$ | async; let i = index">
                        <div (click)="openIncomeInfoDialog(expense)" class=" full-width d-flex single-activity "
                            style="border-color: #df4a4a; background-color: #df4a4a27;">
                            <div class="birthday-content">
                                <!-- <p>{{income[i][0]['latestAmount']}}€</p> -->
                                <p>{{expense[0]['latestAmount']}}€</p>
                            </div>
                            <div class="birthday-content">
                                <p>{{expense[0]['latestTimestamp'] | date :'dd.MM.yy'}}</p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        
        </div>
    </mat-card>
</div>