mat-card {
    h1,
    h2 {
        margin: 0;
        text-align: center;
    }
}


.finance-container{
    justify-content: space-between;
}

.chart-container{
    display: flex;
    flex-direction: column;
    width: calc(40% - 16px);
}

#divChart {
    // height: 600px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    position: relative;
}

.year-total-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

.total-year-expenses{
    gap: 16px;
    p{
        font-size: 32px;
        line-height: 50px;
    }
    h2{
        font-size: 40px;
        color: rgb(207, 98, 98);
    }
}

.total-year-income{
    gap: 16px;
    p{
        font-size: 32px;
        line-height: 50px;
    }
    h2{
        color: rgb(98, 207, 98);
        font-size: 40px;
    }
}

.total-expenses{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 32px;
        
    }
    p{
        font-size: 16px;
    }
}

.year-overview{
    // width: calc(40% - 16px);
    width: 100%;
    height: 50%;
}

.month-charts-container{
    display: flex;
    
}

.month-container{
    width: calc(45% - 16px);
}

#divChartPie {
    justify-content: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divChartPieIncomes {
    justify-content: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-pie{
    width: calc(50% - 16px);
}

.latest-expense{
    width: 100%;
}

.latest-added-container-two{
    display: none;
}

.single-expense-headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.single-expense-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.top-right-container{
    width: 100%;
}

.inner-latest-expense{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.lower-section{
    width: 100%;
    display: flex;
    // justify-content: space-evenly;
    gap: 32px;
    flex-direction: unset;
    flex-wrap: wrap;
}

#myBlockchainChart{
    width: 40%;
    height: 600px;
}

.blockchain-currency-chart{
    // width: calc(100% - 32px - 820px);
    // min-width: 820px;
    width: 100%;
    height: 50%;
}

.blockchain-history-chart{
    width: 50%;
}

.activity-section{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // min-width: 460px;
}

.birthday-container{
    border: 1px solid ;
    padding: 16px;
    justify-content: space-around;
    border-radius: 15px;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.birthday-component{
    // gap: 32px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // border-left: #e6e600 solid 1px;
}

.birthday-cake{
    border-radius: 100%;
    // color: ;
    width: 30px;
    height: 30px;
    transform: scale(1.5);
    border: solid 1px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.single-birthday{
    border: 1px solid ;
    padding: 16px;
    justify-content: space-between;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;
    p{
        margin: 0;
    }
}

.blockchain-history-box{
    // min-width: 810px;
    // width: calc(50% - 32px);
    width: calc(100% - 16px);
    flex-wrap: wrap;
}

.single-history{
    width: 378px;
    height: 255px;
}

// @media(max-width: 2670px){
//     .year-overview{
//         width: 50%;
//     }
//     .month-container{
//         width: 50%;
//     }
// }

// @media(max-width: 2655px){
//     .year-overview{
//         width: 75%;
//     }
//     .latest-added-container{
//         display: none;
//     }
//     .latest-added-container-two{
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: center;
//         width: 25%;
//     }
//     .month-container{
//         width: 25%;
//     }
//     .month-charts-container{
//         flex-direction: column;
//         width: 100%;
//     }
//     .chart-pie{
//         width: 100%;
//     }
//     .blockchain-currency-chart{
//         width: 100%;
//     }
// }


// @media(max-width: 2595px){
//     .blockchain-currency-chart{
//         width: 100%;
//     }
//     .blockchain-history-box{
//         width: 100%;
//         flex-wrap: wrap;
//     }
// }


// @media (max-width: 2170px){

//     .month-container{
//         width: calc(50% - 16px);
        
//     }

//     #divChart{
//         height: unset;
//     }

//     .finance-container{
//         justify-content: space-between;
//         display: flex;
//         flex-direction: column;
//     }

//     .year-overview{
//         width: 100%;
//     }

//     .top-right-container{
//         width: 100%;
//     }
//     .chart-pie{
//         width: 50%;
//     }
    
//     // .latest-expense{
//     //     width: 50%;
//     // }
// }

// @media (max-width: 1400px){
//     .top-right-container{
//         flex-direction: column;
//     }

//     .chart-pie{
//         width: 100%;
//     }
    
//     .latest-expense{
//         width: 100%;
//     }

//     .blockchain-container{
//         display: flex;
//         flex-direction: column;
//     }

//     .blockchain-currency-chart{
//         width: 100%;
//     }
    
//     .blockchain-history-chart{
//         width: 100%;
//     }
// }

//  @media (max-width: 900px){
//     .total-expenses{
//         top: 55%;
//         p{
//             font-size: 12px;
//         }
//         h2{
//             font-size: 24px;
//         }
//     }
//  }

//  @media (max-width: 845px){
//     .total-expenses{
//         top: 65%;
//         p{
//             display: none !important;
//         }
//         h2{
//             font-size: 16px;
//         }
//     }
//  }

//  @media (max-width: 845px){
//     .total-expenses{
//         top: 55%;
//         p{
//             display: unset !important;
//             font-size: 12px;
//         }
//         h2{
//             font-size: 24px;
//         }
//     }
//  }

//  @media (max-width: 840px){
//     .total-expenses{
//         top: 65%;
//         p{
//             display: none !important;
//         }
//         h2{
//             font-size: 16px;
//         }
//     }
//  }

//  @media (max-width: 700px){
//     .total-expenses{
//         top: 50%;
//         p{
//             display: unset !important;
//             font-size: 16px;
//         }
//         h2{
//             font-size: 32px;
//         }
//     }
//  }

//  @media (max-width: 500px){
//     .total-expenses{
//         top: 55%;
//         p{
//             font-size: 14px;
//         }
//         h2{
//             font-size: 24px;
//         }
//     }
//  }

//  @media (max-width: 445px){
//     .total-expenses{
//         top: 65%;
//         p{
//             display: none !important;
//         }
//         h2{
//             font-size: 16px;
//         }
//     }
//  }

//  @media (max-width: 380px){
//     .total-expenses{
//         top: 68%;
//     }
//  }