mat-card {

    h1,
    h2 {
        margin: 0;
        text-align: center;
    }
}


.finance-container {
    justify-content: space-between;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: calc(40% - 16px);
}

#divChart {
    // height: 600px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    position: relative;
}

.year-total-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 40px;
}

.total-year-expenses {
    gap: 16px;

    p {
        font-size: 32px;
        line-height: 50px;
    }

    h2 {
        font-size: 40px;
        color: rgb(207, 98, 98);
    }
}

.total-year-income {
    gap: 16px;

    p {
        font-size: 32px;
        line-height: 50px;
    }

    h2 {
        color: rgb(98, 207, 98);
        font-size: 40px;
    }
}

.total-expenses {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 32px;

    }

    p {
        font-size: 16px;
    }
}

.year-overview {
    // width: calc(40% - 16px);
    width: 100%;
    height: 55%;
    align-items: center;
}

.month-charts-container {
    display: flex;

}

.month-container {
    width: calc(45% - 16px);
}

#divChartPie {
    justify-content: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divChartPieIncomes {
    justify-content: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-pie {
    width: calc(50% - 16px);
}

.latest-expense {
    width: 100%;
}

.latest-added-container-two {
    display: none;
}

.single-expense-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.single-expense-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.top-right-container {
    width: 100%;
}

.inner-latest-expense {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.lower-section {
    width: 100%;
    display: flex;
    // justify-content: space-evenly;
    gap: 32px;
    flex-direction: unset;
    flex-wrap: wrap;
}

#myBlockchainChart {
    width: 40%;
    height: 600px;
}

.blockchain-currency-chart {
    // width: calc(100% - 32px - 820px);
    // min-width: 820px;
    width: 100%;
    height: 45%;
}

.blockchain-history-chart {
    width: 50%;
}

.activity-section {
    width: 15%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    // width: 100%;
    // min-width: 460px;
}

.birthday-container {
    border: 1px solid;
    padding: 16px;
    justify-content: space-around;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.birthday-component {
    // gap: 32px;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // border-left: #e6e600 solid 1px;
}

.birthday-cake {
    border-radius: 100%;
    // color: ;
    width: 30px;
    height: 30px;
    transform: scale(1.5);
    border: solid 1px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.single-birthday {
    border: 1px solid;
    padding: 16px;
    justify-content: space-between;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;
    transition: 0.3s;

    p {
        margin: 0;
    }

}

.single-activity {
    border: 1px solid;
    padding: 16px;
    justify-content: space-between;
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;
    transition: 0.3s;

    p {
        margin: 0;
    }

    

    &:hover {
        background-color: #ffffff6e !important;
        scale: 1.03;
        cursor: pointer;
        transition: 0.3s;
    }

}

.blockchain-history-box {
    // min-width: 810px;
    // width: calc(50% - 32px);
    width: 100%;
    flex-wrap: wrap;
}

.single-history {
    width: 378px;
    height: 255px;
}

.activity-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
}

@media(max-width: 2450px) {
    .finance-container {
        flex-direction: column;
    }

    .chart-container {
        flex-direction: unset;
        gap: 32px;
        width: 100%;
    }

    .year-overview {
        width: calc(50% - 16px);
    }

    .blockchain-currency-chart {
        width: calc(50% - 16px);
    }

    .month-container {
        width: 100%;
        display: flex;
    }

    .total-expenses {
        top: 65%;
    }

    .activity-section {
        width: 100%;
    }

    .activity-container {
        flex-direction: unset;
        width: 100%;
    }
    .chart-pie{
        max-height: 620px;

    }
}

@media(max-width: 2180px) {
    .month-charts-container {
        flex-direction: column;
        width: 25%;
    }

    .blockchain-history-box {
        width: 75%;
    }

    .total-expenses {
        top: 54%;
        scale: 0.75;
        left: 46%;
    }

    .chart-pie {
        width: 100%;
    }
}

@media(max-width: 2110px) {
    .blockchain-history-box {
        width: 70%;
    }

    .month-charts-container {
        width: 30%;
    }

    .chart-pie {
        width: 100%;
    }
}

@media(max-width: 2110px) {
    .blockchain-history-box {
        width: 70%;
    }

    .month-charts-container {
        width: 30%;
    }

    .chart-pie {
        width: 100%;
    }
    .total-year-income{
        p{
            font-size: 20px;
        }
        h2{
            font-size: 20px;
        }
    }
    .total-year-expenses{
        p{
            font-size: 20px;
        }
        h2{
            font-size: 20px;
        }
    }
}

@media(max-width: 1980px) {
    .month-charts-container {
        flex-direction: column;
    }

    .blockchain-history-box {}

    .total-expenses {
        top: 58%;
        scale: 0.75;
        left: 46%;
    }

    .chart-pie {
        width: 100%;
    }
}

@media(max-width: 1670px) {
    .month-container {
        flex-direction: column;
    }

    .month-charts-container {
        width: 100%;
        flex-direction: unset;
    }

    .blockchain-history-box {
        width: 100%;
    }

    .total-expenses {
        top: 58%;
        scale: 0.75;
        left: 46%;
    }

    .chart-pie {
        width: calc(50% - 16px);
        max-height: unset;

    }

    .total-expenses {
        top: 50%;
        scale: 1;
        left: 50%;
    }
}

@media(max-width: 1310px){
    .chart-container{
        flex-direction: column;
    }
    .year-overview{
        width: 100%;
    }
    .blockchain-currency-chart{
        width: 100%;
    }
    .month-charts-container{
        flex-direction: column;
    }
    .chart-pie{
        width: 100%;
    }

}

@media(max-width: 1275px){
    .single-history{
        width: 100%;
    }
    .activity-container{
        flex-direction: column;
    }
    .activity-section{
        width: 100%;
    }
}


@media (max-width: 850px){
    .chart-pie{
        min-height: 620px;
    }
    .total-expenses{
        top: 77%;
        scale: 0.8;
        left: 47%;
    }
}