/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16{
    margin-right: 16px;
}

.mt-8{
    margin-top: 8px;
}

.mt-32{
    margin-top: 32px;
}

.p-16{
    padding: 16px;
}

.full-width{
    width: 100%;
}

.pin-right-upper-corner{
    position: absolute !important;
    top: 0;
    right: 0;
}

.c-white{
    color: white;
}

// input:-webkit-autofill {
//     transition: background-color 600000s 0s, color 600000s 0s;
// }

// textarea:-webkit-autofill {
//     transition: background-color 600000s 0s, color 600000s 0s;
// }