/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex{
    display: flex;
}

.mr-16{
    margin-right: 16px;
}

.mt-8{
    margin-top: 8px;
}

.mt-32{
    margin-top: 32px;
}

.p-16{
    padding: 16px;
}

.pt-16{
    padding-top: 16px;
}

.pr-16{
    padding-right: 16px;
}

.gap-32{
    gap: 32px;
}

.half-width{
    width: 50%;
}

.full-width{
    width: 100%;
}

.pin-right-upper-corner{
    position: absolute !important;
    top: 16px;
    right: 16px;
}

.pin-right{
    position: absolute !important;
    right: 16px;
}

.c-white{
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// input:-webkit-autofill {
//     transition: background-color 600000s 0s, color 600000s 0s;
// }

// textarea:-webkit-autofill {
//     transition: background-color 600000s 0s, color 600000s 0s;
// }